*.Rhistory
*.RData
*.Rproj
*.Rout
.Rproj.user
.DS_Store
*.html
*~
5ind
data/tetra
data/hex
doc/polyfreqs-ms.*
!doc/polyfreqs-ms.tex
Makefile
!doc/Makefile
letters
misc
data
doc/*.eps
doc/references.bib
example/.Rhistory
example/.RData